header{
  padding-left:1rem;
  margin-bottom:2rem;
  /* color:thistle; */
  font-size:25px;
}
.photography{
  padding-left:1rem;
}
header a{
  color:thistle;
}
header a:hover{
  color:palevioletred;
  transition: all 1s;
}
header p{
  background-color: rgb(210, 210, 249, .4);
  padding:1rem;
}
.title-writing{
  padding-left:1rem;
}
.images-container{
  display: flex;

  width:100%;

}

body{

font-family: 'Raleway', sans-serif;

  background-color:	whitesmoke;
}
a{
  text-decoration: none;
  color:black;
}
.article-container{
  width:85%;
  background-color:white;
  padding:1rem;
  margin:1rem;
}
.button a{
  border:solid 1px grey;
  padding:1rem;
}
.button{
  margin-top:2rem;
  margin-bottom:2rem;
}
.art-title{
  padding-left:1rem;
}
.button a:hover {
  color:palevioletred;
  transition: all 1s;
  border:solid 1px palevioletred;
}
.right-container{
  width:100%;
}
.left-container{
  width:100%;}

.image-box{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
}
.image-container{
  height: auto;
  width:30%;
  overflow:hidden;
  margin:.5rem;
}

.image-container img{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transform: scale(1.1);
}

.image-container img:hover{
  transform: scale(1.2);
  transition:1s;
}

.body-2{
  font-family:none;
}
.article{
  padding:4rem;
  padding-top:1rem;
  
}